/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2014, 11:46:29 AM
    Author     : Hassan
*/


body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.legend line {
    stroke: #000;
    shape-rendering: crispEdges;
}
.hide{
    display:none;
}
#tooltip {
    font: 2em sans-serif;
    position: absolute;
    width: 200px;
    /* height: 28px; */
    pointer-events: none;
    background-color: rgba(255,155,118,.4);
    z-index: 200;
    padding: 5px;
}